// Text Colors
$text-color= #333
$text-color-subtle= #777
$text-color-highlight= #111
$text-color-selected= $text-color-highlight

$text-color-info= #5293d8
$text-color-success= #1fe977
$text-color-warning= #f78a46
$text-color-error= #c00

// Base colors
$base-background-color= #fff
$base-border-color= #eee

// Background colors
$background-color-info= #0098ff
$background-color-success= #17ca65
$background-color-warning= #ff4800
$background-color-error= #c00

$background-color-highlight= hsla(0,0%,0%,.1)
$background-color-selected= $background-color-highlight

// Component colors
$input-background-color= #fff
$input-border-color= $base-border-color

$button-background-color= #ccc
$button-background-color-hover= lighten($button-background-color, 5%)
$button-background-color-selected= $button-background-color-hover
$button-border-color= #aaa

// Font
$font-size= 13px
$input-font-size= 14px
$font-family= 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif
