noSelect() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

// https://css-tricks.com/snippets/css/clear-fix/
clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
